/* :root {
  
} */

/* .titlebar {
  top: 0;
  height: 30px;
  width: 100vw;
  position: absolute;
  -webkit-app-region: drag;
} */

html, body {
  color: #f2f2f2;
  font-family: monospace;
}

/* body {
  margin-top: 40px;
} */

textarea {
  width: 50vw;
  height: 250px;
  border: none;
  color: #f2f2f2;
  background-color: transparent;
}

*:focus {
  outline: none;
}

button {
  border: none;
  color: #999;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #333; 
}

button:hover {
  color: #bcbcbc;
}

.container {
  /* width: 99%; */
  display: grid;
  grid-template-columns: minmax(150px, 2fr) 1fr;
  height: 97vh;
}

#code-input {
  overflow-y: scroll;
  border-right: 1px solid rgba(200, 200, 200, 0.1);
}

textarea {
  height: 100%;
  border: none;
  color: #f2f2f2;
  background-color: transparent;
}

.code-line {
  border: none;
  display: grid;
  gap: 4px;
  grid-auto-flow: row;
  grid-template-columns: 20px 1fr;
  background-color: transparent; 
}

.line-number {
  color: #bcbcbc;
  text-align: right;
}

#code-output {
  padding: 2px 4px;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
}

#code-input, #code-output {
  height: calc(100vh - 20px);
}

#tree {
  margin: 0 auto;
  padding-top: 2px;
  overflow: scroll;
  width: fit-content;
  color: #bcbcbc;
  font-size: 10px;
}