/* :root {
  
} */

/* .titlebar {
  top: 0;
  height: 30px;
  width: 100vw;
  position: absolute;
  -webkit-app-region: drag;
} */

html, body {
  color: #f2f2f2;
  font-family: monospace;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

body {
  margin-top: 35px;
  -webkit-app-region: no-drag;
  overflow-y: hidden;
}

textarea {
  width: 50vw;
  border: none;
  color: #f2f2f2;
  background-color: transparent;
  height: 100%;
}

*:focus {
  outline: none;
}

button {
  border: none;
  color: #999;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #333; 
}

button:hover {
  color: #bcbcbc;
}

.container {
  /* width: 99%; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(150px, 2fr) 1fr;
  height: calc(100% - 40px);
  -webkit-app-region: no-drag;
}

#code-input {
  display: grid;
  overflow-y: scroll;
  border-right: 1px solid rgba(200, 200, 200, 0.1);
  grid-template-columns: 30px 1fr;
  grid-auto-flow: row;
  gap: 4px;
}
.gutter {
  padding-right: 2px;
}

pre {
  margin: 0 auto;
  align-self: stretch;
  border: none;
  color: #f2f2f2;
  background-color: transparent;
}
.code-row {
  display: grid;
  gap: 5px;
  line-height: 1.5;
}
.code-line {
  border: none;
  background-color: transparent;
  width: calc(100% - 30px);
}

.code-line:focus, .focused {
  background-color: rgba(150, 150, 150, 0.4);
}

.line-number {
  color: #bcbcbc;
  text-align: right;
  width: 22px;
}

#code-output {
  padding: 2px 4px;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
}

#code-input, #code-output {
  height: calc(100vh - 20px);
}

#tree {
  margin: 0 auto;
  padding-top: 2px;
  overflow: scroll;
  width: fit-content;
  color: #bcbcbc;
  font-size: 10px;
}